bpelContent/WSDL/transportationManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/transportationManagementService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="transportationManagementService" targetNamespace="http://www.example.org/transportationManagementService/" xmlns:xsd1="http://www.example.org/TransportationManagementSchema">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://www.example.org/transportationManagementService/" xmlns:pref="http://www.example.org/TransportationManagementSchema">
    	<xsd:import schemaLocation="../AutoincSchemas/transportationManagementSchema.xsd" namespace="http://www.example.org/TransportationManagementSchema"></xsd:import>
    	<xsd:element name="checkPrice">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="in" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="checkPriceResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="orderShipment">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="in" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="orderShipmentResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="out" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.example.org/TransportationManagementSchema"
    		schemaLocation="../AutoincSchemas/transportationManagementSchema.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="checkPriceRequest">
    <wsdl:part element="xsd1:checkPriceInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkPriceResponse">
    <wsdl:part element="xsd1:checkPriceOutput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="orderShipmentRequest">
  	<wsdl:part name="parameters" element="xsd1:orderShipmentInput"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderShipmentResponse">
  	<wsdl:part name="parameters" element="xsd1:orderShipmentOutput"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="transportationManagementService">
    <wsdl:operation name="checkPrice">
      <wsdl:input message="tns:checkPriceRequest"/>
      <wsdl:output message="tns:checkPriceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="orderShipment">
    	<wsdl:input message="tns:orderShipmentRequest"></wsdl:input>
    	<wsdl:output message="tns:orderShipmentResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="transportationManagementServiceSOAP" type="tns:transportationManagementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="checkPrice">
      <soap:operation soapAction="http://www.example.org/transportationManagementService/checkPrice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="orderShipment">
      <soap:operation soapAction="http://www.example.org/transportationManagementService/orderShipment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="transportationManagementService">
    <wsdl:port binding="tns:transportationManagementServiceSOAP" name="transportationManagementServiceSOAP">
      <soap:address location="http://localhost:8080/AutoInc/services/transportationManagementService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
