AutoIncOrdering_Client/WarehouseDecisionWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WarehouseDecisionWS" targetNamespace="http://www.example.org/WarehouseDecisionWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/WarehouseDecisionWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/WarehouseDecisionWS/" xmlns:Q1="http://www.example.org/WarehouseManagementSchema">
            <xsd:import namespace="http://www.example.org/WarehouseManagementSchema" schemaLocation="warehouseManagementSchema.xsd"/>
            <xsd:element name="DecideUponWarehouse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="unbounded" minOccurs="1" name="OrderChunkAvailable" type="Q1:checkAvailabilityOutputType">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="1" name="orderId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DecideUponWarehouseResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="unbounded" minOccurs="1" name="OrderChunkToBook" type="Q1:checkAvailabilityOutputType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DecideUponWarehouseFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="DecideUponWarehouseFault" type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="SupplySetType">
      	<xsd:sequence>
      		<xsd:element name="warehouseID" type="xsd:string"/>
      		<xsd:element maxOccurs="1" minOccurs="1" name="pidQuantity" type="Q1:productIdQuantityType"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DecideUponWarehouseRequest">
    <wsdl:part name="parameters" element="tns:DecideUponWarehouse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DecideUponWarehouseFault">
    <wsdl:part name="parameters" element="tns:DecideUponWarehouseFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DecideUponWarehouseResponse">
    <wsdl:part name="parameters" element="tns:DecideUponWarehouseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WarehouseDecisionWS">
    <wsdl:operation name="DecideUponWarehouse">
      <wsdl:input message="tns:DecideUponWarehouseRequest">
    </wsdl:input>
      <wsdl:output message="tns:DecideUponWarehouseResponse">
    </wsdl:output>
      <wsdl:fault name="decisionCouldNotBeTaken" message="tns:DecideUponWarehouseFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WarehouseDecisionWSSOAP" type="tns:WarehouseDecisionWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DecideUponWarehouse">
      <soap:operation soapAction="http://www.example.org/WarehouseDecisionWS/DecideUponWarehouse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="decisionCouldNotBeTaken">
        <soap:fault name="decisionCouldNotBeTaken" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarehouseDecisionWS">
    <wsdl:port name="WarehouseDecisionWSSOAP" binding="tns:WarehouseDecisionWSSOAP">
      <soap:address location="http://localhost:8080/WarehouseDecisionWS/services/WarehouseDecisionWS/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
